<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                             https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>controller.DashboardServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>

    <!-- account api-->
    <servlet>
        <servlet-name>AccountApi</servlet-name>
        <servlet-class>api.AccountApiServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AccountApi</servlet-name>
        <url-pattern>/api/account/*</url-pattern>
    </servlet-mapping>

    <!-- order api -->
    <servlet>
        <servlet-name>OrderApi</servlet-name>
        <servlet-class>api.OrderApiServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>OrderApi</servlet-name>
        <url-pattern>/api/orders/*</url-pattern>
    </servlet-mapping>

    <!-- market api -->
    <servlet>
        <servlet-name>MarketApi</servlet-name>
        <servlet-class>api.MarketApiServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MarketApi</servlet-name>
        <url-pattern>/api/market/*</url-pattern>
    </servlet-mapping>

    <!-- reports api-->
    <servlet>
        <servlet-name>ReportsApi</servlet-name>
        <servlet-class>api.ReportsApiServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ReportsApi</servlet-name>
        <url-pattern>/api/reports/*</url-pattern>
    </servlet-mapping>

</web-app>